body {
    --dark-1: #1e2328;
    --dark-2: #2a2e34;
    --dark-3: #3b3f46;

    --bright-1: #ff930f;
    --bright-2: #ffa536;
    --bright-3: #fff95b;

    --gradiant-1-3: linear-gradient(90deg, var(--bright-1) 0%, var(--bright-3) 100%);

    --profile-background-gradiant: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);

}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to left top, var(--dark-3), var(--dark-1));
}

.auth-card::before {
    position: absolute;
    content: '';
    background: inherit;
    height: 360px;
    width: 650px;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(10px);
    border-radius: 15px;
}

.auth-card {

    height: 320px;
    width: 600px;
    background: inherit;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

input:focus {
    outline: none;
}

.auth-input {
    border: 0;
    border-bottom: 1px solid var(--bright-1);
    margin: 10px;
    background-color: transparent;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 5px 5px 0px 50px;
    color: black;
}

.auth-button {
    border: 0;
    background: var(--gradiant-1-3);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    padding: 5px 10px;
    margin: 20px;
    color: var(--dark-3);
}

.auth-button:hover {

}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-3);
    height: 60px;
}

.navbar-left {
    display: flex;
    justify-content: start;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar *{
    margin: 10px 15px;
}

.link {
    color: var(--bright-1);
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    text-decoration: underline;
}

.link-auth {
    margin: 5px;
    font-size: 14px;
}

.slash {
    color: white;
    margin: 0px;
    font-size: 14px;
}

.person-icon {
    border-radius: 50%;
    background-color: var(--dark-3);
    height: 36px;
    width: 36px;
    border: 2px solid var(--bright-1);
    position: relative;
}

.person-icon svg{
    height: 30px;
    width: 30px;
    fill: white;
    position: absolute;
    top: -8px;
    left: -12px;
}

.small-menu {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-3);
    border: 2px solid var(--dark-1);
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    top: 28px;
    right: -2px;
}

.small-menu-outline {
    width: 150px;
    position: absolute;
    top: 28px;
    right: -2px;
}

.small-menu-item {
    padding: 3px 5px;
    width: 140px;
    color: var(--bright-2);
    border-bottom: 2px solid var(--dark-1);
    text-align: center;
    margin: 0;
}

.small-menu-item-last {
    border-bottom: none;
}

.rounded-corners-gradient-borders {
    width: 300px;
    height: 80px;
    border: solid 5px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.svg {
    fill: black;
    height: 35px;
    width: 35px;
}

.input-container {
    position: relative;
}

.input-container svg{
    position: absolute;
    top: 22px;
    left: 18px;
}

.data-card {
    position: relative;
    width: 80%;
}

.data-card-data {
    margin: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
}

.data-card-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--dark-3);
    border-radius: 10px;

    box-shadow: 1px 1px var(--dark-1);
}

.data-container {
    display: flex;
    justify-content: center;
    margin: 10px 0px; 
}

.edit {
    display: flex;
    justify-content: end;
    align-items: center;
}

.edit svg {
    width: 28px;
    height: 28px;
}

p {
    color: white;
}

